@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body header{
    height: 12vh;
}

.fixando-header {
    position: fixed;
    width: 100%;
    height: 12vh;
    z-index: 2;
}

main {
    height: 88vh;
    background-color: #20272f;
    /* color: white; */
}

.pl{ /*padding left*/
    padding-left: 9%;
    padding-right: 9%;
}

/* Inicio Navbar */

.linkNavBar {
    color: #fff;
    text-decoration: none;
}

.linkNavBar:hover{
    color: #00c094;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #20272f;
    /* height: 12vh; */
}


.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-links.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Fim style Navbar */

/* Inicio banner */
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    color: white;
    background-color: #20272f;
}

article header {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img {
    width: 50%;
    height: 100%;
    margin-top: 30px;
    background: url('img/Frame 2.png') no-repeat;
    background-size: 370px;
    box-shadow: #00c094;
}

/* .imgBanner {
    height: 90vh;
} */

article  header h1 {
    width: 60%;
    font-size: 25px;
}

article header span {
    font: bold;
    color: #00c094;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

article  header h2 {
    margin-top: 5px;
    margin-bottom: 5pxpx;
}

article  header p {
    font-size: 18px;
    width: 90%;
    margin-top: 30px;
}

.botao {
    margin: 30px;
    display: inline-block; /* Necessário para aplicar padding e outros estilos de botão */
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    font-weight: bold; /* Opcional, para um texto mais destacado */
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Cor do texto */
    background-color: #00c094; /* Cor de fundo */
    border: none; /* Remove bordas padrão */
    border-radius: 4px; /* Arredonda ligeiramente os cantos */
    transition: background-color 0.3s, transform 0.3s; /* Suaviza transições */
    box-shadow: 0 2px 4px #015947; /* Adiciona uma sombra leve */
}

.botao:hover {
    background-color: #2fac93; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.botao:active {
    background-color: #015947; /* Cor de fundo ao clicar */
    transform: translateY(0); /* Restaura a posição ao clicar */
}

/* Fim banner */


/*Inicio Banner sobre*/
.sobre {
    height: 650px;
    background-color: #54606d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Caixa-imagem {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #23232e;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Caixa-imagem::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 200%;
    background-color: #00c094;

    animation: animate 6s linear infinite;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

.Caixa-imagem::after{
    content: "";
    position: absolute;
    background-color: #23232e;
    inset: 5px;
    border-radius: inherit;
}

.Caixa-imagem .tamanhoimg {
    position: relative;
    z-index: 1;
    height: 250px;
}

.conteudo-Sobre{
    height: 50%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 3%;
    padding-right: 2%;
}
 span{
    color: #00c094;
}

.conteudo-Sobre h2 {
    font-size: 40px;
    margin-bottom: 5%;
}

.conteudo-Sobre p {
    font-size: 20px;
    font: 700;
}

/*Fim Banner sobre*/


/*Inicio Banner Servicos*/
.servicos {
    height: 900px;
    background-color: #20272f;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.servicostitulo{
    font-size: 2.5rem;
}

.card-pai{
    display: flex;
    flex-direction: row;
}

.card-pai .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 15px;
    box-shadow: 20px 20px 50px rgba(30, 224, 95, 0.5);
    border-radius: 15px;
    background-color: #54606d;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card-pai .card .content{
    margin-top: -72%;
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.card-pai .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.card-pai .card:hover .content h3{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(30, 224, 95, 0.5);
}

/* .card-pai .card:hover .content h4{
    position: relative; 
    font-size: 1.8em;
    color: white;
    z-index: 1;
} */


.card-pai .card:hover .content p{
    position: relative; 
    font-size: 1em;
    font-weight: 600;
    color: white;
    z-index: 1;
}

.card-pai .card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background-color: #00c094;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s; /* Suaviza transições */
    box-shadow: 0 2px 4px #015947; /* Adiciona uma sombra leve */
}

.card-pai .card .content a:hover {
    background-color: #2fac93; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.frentecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 10px;
    text-align: center;
}


.frentecard p{
    margin-top: 15%;
    font-size: 30px;
    font-weight: 900;
}

.frentecard i{
    font-size: 50px;
    color: rgba(30, 224, 95, 0.5);
}

.card-pai .card:hover .frentecard {
    opacity: 0; /* Torna invisível */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Transição suave */
    transform: scale(0.9); /* Diminui a escala para dar um efeito */
}

.card-pai .card .frentecard {
    transition: opacity 0.5s ease, transform 0.5s ease; /* Define a transição padrão */
}

/*Final Banner Servicos*/


/*Inicio Banner Projetos*/
.projetos{
    height: 900px;
    font-size: 1.5rem;
    background-color: #54606d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3%;
}

.warapper{
    height: 750px;
    background-color: #54606d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}


.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    color: white;
}

.card-portfolio{
    width: 80px;
    margin: 10px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.warapper .container .card-portfolio .row{
    color: #00c094;
    display: flex;
    flex-wrap: nowrap;
}

.card-portfolio > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.warapper .container .card-portfolio .row .icon{
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.description p{
    color: #fafafa;
    padding-top: 5px;
}

.description h4{
    text-transform: uppercase;
}

.descriptioninput{
display: none;
}

input:checked + label{
    width: 700px;
}

input:checked + label .description {
    opacity: 1!important;
    transform: translateY(0) !important;
}

.card-portfolio[for='c1']{
    background-image: url(img/wallpapersden.com_league-of-legends-sentinel-vayne-fan-art_1920x1080.jpg);
}

.card-portfolio[for='c2']{
    background-image: url(img/katarina-league-of-legends_1536009025.jpg.webp);
}

.card-portfolio[for='c3']{
    background-image: url(img/6f6a5712fac9cc25106880e52b10eff7.jpg);
}

.card-portfolio[for='c4']{
    background-image: url(img/Ashe_9.jpg);
}

/*Final Banner Projetos*/

/*Inicio Banner Habilidades*/

.habilidades{
    height: 800px;
    font-size: 1.5rem;
    background-color: #20272f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3%;
}

.containerHab{
    /* height: 500px; */
    display: flex;
}

.card-hab{
    height: 200px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
}

.imgHab{
    /* height: 500px;
    width: 350px; */
    border-radius: 3px;
}

.card-hab .intro{
    height: 50px;
    width: 100%;
    padding: 6px;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    bottom: 0%;
    background: rgb(27, 27, 27);
    color: white;
    transition: .5s;
    flex-direction: column;
    align-items: center;
}
.h4HAB{
    margin: 10;
    font-size: 18px;
}

.botaoHAB{
    margin-top: 20px;
    width: 100px;
    /* height: 50%; */
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    display: flex;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #00c094;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px #015947;
    flex-direction: column;
    visibility: hidden;

}

.botaoHAB:hover {
    background-color: #2fac93; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.botaoHAB:active {
    background-color: #015947; /* Cor de fundo ao clicar */
    transform: translateY(0); /* Restaura a posição ao clicar */
}

.card-hab:hover{
    cursor: pointer;
}

.card-hab:hover .intro{
    height: 100px;
    background-color: black;
    opacity: 0.97;
}

.card-hab:hover img{
    transform: scale(1.1) rotate(-3deg);
}

.card-hab:hover .botaoHAB{
    visibility: visible;
}

/*Final  Banner Habilidades*/

/*Inicio  Banner Contato*/

.Contato{
    height: 1000px;
    font-size: 1.5rem;
    background-color: #54606d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3%;
}

.divContato{
    height: 95%;
}

/*Final  Banner Contato*/

.title-form h1 {
  
    position: relative;
    font-size:30px;
    text-align:center; 
    line-height:1.5em; 
    padding-bottom:45px; 
    /* font-family: "Open Sans", sans; */
    text-transform:uppercase;
    letter-spacing: 6px; 
    color:#00c094;
  }
  .title-form h1:before {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 60%;
    left:50%; 
    margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #00c094; 
    z-index: 4;
  }
  /* .title-form h1:after {
    position: absolute;
    width: 80px;
    height: 45px;
    left: 45%;
    margin-left: -20px;
    bottom: 0px;
    font-family: "untitled-font-1";
    content: '\e037';
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    z-index: 5;
    display: block;
    background-color: #54606d;
  } */
  .box-formulario {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #54606d;
    padding: 60px 0;
    justify-content: space-around;
  }
  .formulario {
      width: 700px;
      background: #54606d;
      padding: 60px 5%;
      text-align: center;
  }
  .formulario span {
    position: relative;
    display: flex;
    margin: 50px 10px;
  }
  /*input Animado*/
  .input-balao-up {
    display: inline-block;
    width: 100%;
    padding: 15px 0 10px 50px;
    /* font-family: "Open Sans", sans; */
    font-weight: 800;
    color: #4C4C4C;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    outline: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
  }
  .input-balao-up::-webkit-input-placeholder {
    color: #00c094;
    font-weight: 600;
  }
  .input-balao-up + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 0px 20px;
    color: #00c094;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all .3s ease-in-out;
    border-radius: 30px;
    background: rgba(122, 184, 147, 0);
    height: 33px;
    line-height: 36px;
  }
  .input-balao-up + label:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -2px;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid rgba(122, 184, 147, 0);
    transition: all .3s ease-in-out;
  }
  .input-balao-up:focus,
  .input-balao-up:active {
    color: #222222;
    padding: 15px 0 10px 25px;
    background: #00c094;
  }
  .input-balao-up:focus::-webkit-input-placeholder,
  .input-balao-up:active::-webkit-input-placeholder {
    color: #20272f;
  }
  .input-balao-up:focus + label,
  .input-balao-up:active + label {
    color: #fff;
    background: #00c094;
    left: -32px;
    transform: translateY(-52px);
  }
  .input-balao-up:focus + label:after,
  .input-balao-up:active + label:after {
    
    border-top: 6px solid #00c094;
  }
  /*TextArea*/
  .textarea-balao-up {
    display: inline-block;
    width: 100%;
    height: 80px;
    resize: none;
    padding: 15px 0 10px 50px;
    /* font-family: "Open Sans", sans; */
    font-weight: 500;
    color: #4C4C4C;
    background: #ffffff;
    border: 0;
    border-radius: 50px;
    outline: 0;
    transition: all .3s ease-in-out;
    box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
  }
  .textarea-balao-up::-webkit-input-placeholder {
    color: #00c094;
    font-weight: 600;
  }
  .textarea-balao-up + label {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 8px;
    padding: 0px 20px;
    color: #00c094;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
    transition: all .3s ease-in-out;
    border-radius: 30px;
    background: rgba(122, 184, 147, 0);
    height: 33px;
    line-height: 36px;
  }
  .textarea-balao-up + label:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -2px;
    border-left: 10px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid rgba(122, 184, 147, 0);
    transition: all .3s ease-in-out;
  }
  .textarea-balao-up:focus,
  .textarea-balao-up:active {
    color: #222222;
    padding: 15px 0 10px 25px;
    background: #00c094;
  }
  .textarea-balao-up:focus::-webkit-input-placeholder,
  .textarea-balao-up:active::-webkit-input-placeholder {
    color: #ffffff;
  }
  .textarea-balao-up:focus + label,
  .textarea-balao-up:active + label {
    color: #fff;
    background: #00c094;
    left: -32px;
    transform: translateY(-52px);
  }
  .textarea-balao-up:focus + label:after,
  .textarea-balao-up:active + label:after {
    
    border-top: 6px solid #00c094;
  }
  /*Botão*/
  .box-btn { 
   width: 100%;
   padding: 0 10px;
   float: left;
  }
  .btn-envia {
    
    padding: 0.7em 2em;
    cursor: pointer;
    border: none;
    background: linear-gradient(90deg, #00c094 0%, #015947 100%);
    box-shadow: 0 10px 8px -8px rgba(0, 0, 0, 0.5)!important;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #fff;
    border-radius: 50px;
  }
  .zoom-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .zoom-shadow:hover, .zoom-shadow:focus, .zoom-shadow:active {
    box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .divContato{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 5%;
  }
  .sectionRedes{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sectionRedes li{
    list-style-type: none
  }