@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body header{
    height: 12vh;
}

.fixando-header {
    position: fixed;
    width: 100%;
    height: 12vh;
    z-index: 2;
}

main {
    height: 88vh;
    background-color: #20272f;
    /* color: white; */
}

.pl{ /*padding left*/
    padding-left: 9%;
}

/* Inicio Navbar */

.linkNavBar {
    color: #fff;
    text-decoration: none;
}

.linkNavBar:hover{
    color: #00c094;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #20272f;
    /* height: 12vh; */
}


.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 999px) {

    body {
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-links.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* Fim style Navbar */

/* Inicio banner */
.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    color: white;
    background-color: #20272f;
}

article header {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img {
    width: 50%;
    height: 100%;
    margin-top: 30px;
    background: url('img/Frame 2.png') no-repeat;
    background-size: 370px;
    box-shadow: #00c094;
}

/* .imgBanner {
    height: 90vh;
} */

article  header h1 {
    width: 60%;
    font-size: 25px;
}

article header span {
    font: bold;
    color: #00c094;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

article  header h2 {
    margin-top: 5px;
    margin-bottom: 5pxpx;
}

article  header p {
    font-size: 18px;
    width: 90%;
    margin-top: 30px;
}

.botao {
    margin: 30px;
    display: inline-block; /* Necessário para aplicar padding e outros estilos de botão */
    padding: 10px 20px; /* Aumenta o tamanho do botão */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    font-weight: bold; /* Opcional, para um texto mais destacado */
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Cor do texto */
    background-color: #00c094; /* Cor de fundo */
    border: none; /* Remove bordas padrão */
    border-radius: 4px; /* Arredonda ligeiramente os cantos */
    transition: background-color 0.3s, transform 0.3s; /* Suaviza transições */
    box-shadow: 0 2px 4px #015947; /* Adiciona uma sombra leve */
}

.botao:hover {
    background-color: #2fac93; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.botao:active {
    background-color: #015947; /* Cor de fundo ao clicar */
    transform: translateY(0); /* Restaura a posição ao clicar */
}

/* Fim banner */

.sobre {
    height: 650px;
    background-color: #54606d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Caixa-imagem {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #23232e;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Caixa-imagem::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 200%;
    background-color: #00c094;

    animation: animate 6s linear infinite;
}

@keyframes animate {
    100%{
        transform: rotate(360deg);
    }
}

.Caixa-imagem::after{
    content: "";
    position: absolute;
    background-color: #23232e;
    inset: 5px;
    border-radius: inherit;
}

.Caixa-imagem .tamanhoimg {
    position: relative;
    z-index: 1;
    height: 250px;
}

.conteudo-Sobre{
    height: 65%;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo-Sobre span{
    color: #00c094;
}

.conteudo-Sobre h2 {
    font-size: 40px;
}

.conteudo-Sobre p {
    font-size: 20px;
    font: 700;
}